* {
	box-sizing: border-box;
}

.home{
	text-align: center;
}

.themeComponent1{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 230px;
	width: 15%;
	border-top-left-radius: 230px;
	background-color: #1e3f5a;
}
.themeComponent2{
	position: fixed;
	top: 0;
	right: 0;
	height: 100px;
	width: 100px;
	border-bottom-left-radius: 100px;
	background-color: #1e3f5a;
}

body {
	font-family: 'Comic Neue', cursive;
}

h1{
	color: #1e3f5a;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 15px;
	}
}
.tab {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1e3f5a;
	overflow-x: ellipsis;
}

/* Style the buttons inside the tab */
.tab a {
	padding: 8px;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	color: white;
	display: block;
	overflow: ellipsis;
}

/* Change background color of buttons on hover */
.tab a:hover {
	color: #1e3f5a;
	overflow-x: hidden;
	background-color: white;

}

/* Create an active/current "tab button" class */
.tab a.active {
	background-color: white;
	color: #1e3f5a;
}

/* Style the tab content */
.tabcontent {
	margin-left: 16%; /* to display sidenav */
	margin-right: 16%;
	font-size: 1.3em;
	padding: 0px 10px;
}

.galleryImage{
	width: 250px;
	height: 250px;
	margin-left: 2px;
	margin-right: 2px;
}

.gallery{
	float: left;
}

.imagelink:hover{
	/* border: 2px solid #1e3f5a; */
	opacity: 0.6;
}

.testimg{
	width: 100%;
	/* margin-top: 5%; */
	border: dotted 1px #1e3f5a;
	margin-bottom: 50px;
}

.code{
	border: 1px solid #1e3f5a;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #ebebeb;
}
