* {
	box-sizing: border-box;
}

.home {
	text-align: center;
}

.themeComponent1 {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 230px;
	width: 15%;
	border-top-left-radius: 230px;
	background-color: rgb(36, 36, 36);
}
.themeComponent2 {
	position: fixed;
	top: 0;
	right: 0;
	height: 100px;
	width: 100px;
	border-bottom-left-radius: 100px;
	background-color: rgb(36, 36, 36);
}

div.firstChild p:first-child{
	color: red;
}

q:lang(no) {
	quotes: "~" "~";
	color: red;
}
div.ifirst p i:first-child{
	color: red;
}

body {
	font-family: 'Comic Neue', cursive;
}

h1 {
	color: rgb(36, 36, 36);
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 15px;
	}
}
.tab {
	height: 100vh;
	width: 12%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(36, 36, 36);
	overflow-x: ellipsis;
	overflow: auto;
}

/* Style the buttons inside the tab */
.tab a {
	padding: 8px;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	color: white;
	display: block;
	overflow: ellipsis;
}

/* Change background color of buttons on hover */
.tab a:hover {
	color: rgb(36, 36, 36);
	overflow-x: hidden;
	background-color: white;
}

/* Create an active/current "tab button" class */
.tab a.active {
	background-color: white;
	color: rgb(36, 36, 36);
}

/* Style the tab content */
.tabcontent {
	margin-left: 14%; /* to display sidenav */
	margin-right: 16%;
	font-size: 1.3em;
	padding: 0px 10px;
}

.galleryImage {
	width: 250px;
	height: 250px;
	margin-left: 2px;
	margin-right: 2px;
}

.gallery {
	float: left;
}

.imagelink:hover {
	/* border: 2px solid rgb(36,36,36); */
	opacity: 0.6;
}

.testimg {
	width: 100%;
	/* margin-top: 5%; */
	border: dotted 1px rgb(36, 36, 36);
	margin-bottom: 50px;
}

.code {
	border: 1px solid rgb(36, 36, 36);
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f7f7f7;
}

/* form css */
.formbody {
	padding: 1cm;
	align-items: center;
	font-family: 'Comic Neue', cursive;
	/* background-color: whitesmoke; */
	background-color: rgb(36, 36, 36);

	background-image: url('https://rb.gy/wcrqyy');
}
.inputform {
	width: 10.5cm;
	height: 1cm;
	font-size: large;
	font-family: 'Courier New', Courier, monospace;
}
.formMain {
	border: 1px solid black;
	padding: 1cm;
	opacity: 1;
	background-color: white;
	color: black;
	opacity: 0.8;
	font-size: 20px;
	width: 50%;
}
input:hover {
	border: 2px rgb(36, 36, 36) solid;
}
input:focus {
	border: 3px rgb(36, 36, 36) solid;
}

.overflowresult {
	background-color: #eee;
	width: 400px;
	height: 200px;
	border: 1px dotted black;
	overflow: scroll;
	padding: 10px;
}

.dropdown {
	background-color: rgb(36, 36, 36);
	color: white;
	padding: 5px;
	position: relative;
	display: inline-block;
	margin:20px;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	color: black;
}
  
.dropdown:hover .dropdown-content {
	display: block;
}